@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700;800&family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;500;600;700;800&family=Montserrat:wght@500;700&family=Poppins:wght@500;600;700;800&family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
}

#navbar {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.socials {
    border: 1px solid grey;
    border-radius: 40px;
    /* padding: 1rem; */
}

.cards {
    border: 1px solid white !important;
    border-radius: 40px !important;
}

.navbar-toggler {
    border: none !important;
    outline: none !important;
    /* background-color: gray !important; */
    /* color: white !important; */
}

#about-me {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
}

#contact-me {
    padding-top: 7rem !important;
}

#main-section {
    padding-top: 7rem !important;
}

.carrd:hover {
    transform: scale(1.3);
}

.carrd i {
    transition: all 300s ease;
    margin: 0;
}

.carrd.selected {
    transform: scale(1.1);
}

.about-paragraph {
    line-height: 2;
    font-weight: 500 !important;
}

h1 {
    font-size: 3rem !important;
    font-weight: bold !important;
}

p {
    font-weight: 200 !important;
    color: rgb(85, 85, 85) !important;
}

.email-icon {
    height: 2.5rem;
}

.linkedin-icon {
    height: 2rem;
}

.email-linkedIn {
    border: 1px solid grey;
    border-radius: 5rem;
    padding: 0.2rem 0.9rem;
    padding-top: 1rem;
}

li a:hover {
    color: grey !important;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
    text-decoration-color: rgb(181, 181, 181);
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

li #contact-btn {
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: .5rem;
    padding: 0rem rem
}

li #contact-btn {
    /* transition-property: background-color;
    transition-duration: .4s;
    transition-timing-function: ease-in-out; */
    transition: all 300ms ease-in-out;
}

li #contact-btn:hover {
    text-decoration: none;
    background-color: inherit !important;
    color: black !important;
    border-color: black;
}

#contact-me {
    margin-bottom: 10rem !important;
}

/* Publications section */
#publications h2 {
    font-size: 20px;
}
.first img {
    height: 15rem !important;
}

.second img {
    height: 14rem !important;
}

.third img {
    height: 10rem !important;
}

.fourth img {
    height: 13rem;
}

/* .fifth img {
    height: ;
} */

.last img {
    height: 10rem !important;
}

.border-section {
    border: 1px solid black;
    padding: 10px 10px;
}

.all_publications {
    text-decoration: none;
    color: black;
}

.all_publications:hover {
    color: grey !important;
    text-decoration: underline;
    text-underline-offset: 0.7rem;
    text-decoration-color: rgb(181, 181, 181);
    transition-duration: .4s;
    transition-timing-function: ease-in-out;
}

/* media queries */

@media screen and (max-width: 800px) {
    #main-section {
        padding-top: 0 !important;
    }

    .image-about {
        width: 100% !important;
        display: flex !important;
        justify-content: center !important;
    }

    .experience-degree {
        width: 100% !important;
        padding-top: 2rem !important;
    }

    .font-size {
        font-size: 48px !important;
        font-weight: 500 !important;
        text-align: center;
    }

    #about-me {
        margin-top: 0rem !important;
        padding-top: 0rem !important;
        margin-bottom: 5rem !important;
    }

    #contact-me {
        margin-top: 0rem !important;
        padding-top: 0rem !important;
        margin-bottom: 3rem !important;
    }

    #contact-me .email-linkedIn p {
        font-size: 0.9rem;
    }

    #main-section {
        padding-top: 4rem !important;
    }

    .about-paragraph {
        /* justify-self: center; */
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        line-height: 1.5;
    }

    li #contact-btn {
        border: none !important;
        background-color: inherit !important;
        color: grey !important;
        border-radius: none !important;
        padding: 0 !important;
    }

    #publications .row img {
        width: 100% !important;
        height: auto !important;
    }

    #publications .row h2, p {
        justify-items: center !important;
        align-items: center !important;
    }

    #footer-section ul li {
        gap: 0rem !important;
    }

    .border-section {
        border: none !important;
        padding: 0 !important;
    }

    .arrow-down {
        display: none !important;
    }
}

@media screen and (max-width: 400px) {
    .email-linkedIn li a{
        font-size: 0.8rem !important;
    }
}

#main-section, #about-me, #publications, #contact-me, #footer-section {
    overflow: hidden;
}